<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Tracker</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex items-center justify-center">

    <div class="bg-white w-[450px] p-10 rounded-3xl shadow-2xl text-center">

        <h1 class="text-5xl font-bold text-gray-800 mb-3">
            Expense Tracker
        </h1>

        <p class="text-gray-500 mb-10">
            Manage your income and expenses easily
        </p>

        <div class="space-y-5">

            <a href="/add"
                class="block bg-indigo-600 hover:bg-indigo-800 text-white py-4 rounded-2xl text-lg font-semibold transition duration-300">
                Add Transaction
            </a>

            <a href="/report"
                class="block bg-pink-500 hover:bg-pink-700 text-white py-4 rounded-2xl text-lg font-semibold transition duration-300">
                View Reports
            </a>

        </div>

    </div>

</body>

</html>