{% extends "base.html" %}

{% block content %}

<div class="min-h-screen flex items-center justify-center bg-gray-950 px-4">

    <!-- CARD -->

    <div class="bg-white/5 border border-white/10 backdrop-blur-xl rounded-3xl p-8 w-full max-w-md">

        <!-- TITLE -->

        <h1 class="text-4xl font-bold text-white text-center mb-8">

            Signup

        </h1>

        <!-- FORM -->

        <form method="POST" class="space-y-5">

            <!-- USERNAME -->

            <input type="text" name="username" placeholder="Enter Username" required
                class="w-full p-4 rounded-2xl bg-white/10 text-white outline-none border border-white/10">

            <!-- PASSWORD -->

            <input type="password" name="password" placeholder="Enter Password" required
                class="w-full p-4 rounded-2xl bg-white/10 text-white outline-none border border-white/10">

            <!-- BUTTON -->

            <button type="submit"
                class="w-full bg-pink-500 hover:bg-pink-700 p-4 rounded-2xl text-white font-bold transition duration-300">

                Create Account

            </button>

        </form>

        <!-- LOGIN LINK -->

        <p class="text-gray-300 mt-6 text-center">

            Already have account?

            <a href="/login" class="text-pink-400 font-bold">

                Login

            </a>

        </p>

    </div>

</div>

{% endblock %}